#crie um arquivo chamado .env na raiz do projeto com os seguintes
dados para rodar o projeto com yarn dev /npm run dev
SECRET_KEY = "secretKeyToGenerateJWT"
DATABASE_URL = "postgresql://postgres:admin@localhost:5433/maindb?schema=public"